  <div id="page-top">
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1>TopCar Multimarcas</h1>
          <hr>
          <p></p>
          <a href="#sobre" class="btn btn-primary btn-xl page-scroll">Descubra mais!</a>
        </div>
      </div>
    </header> 

    <section class="bg-primary" id="sobre">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Nós temos o que você precisa!</h2>
            <hr class="light">
            <p class="text-faded">TopCar™ Multimarcas tem tudo o que você precisa para ter seu novo carro! Com modelos incriveis, com certeza você achará um que combine perfeitamente com você!</p>
            <a href="#marcas" class="btn btn-default btn-xl page-scroll ">Vamos começar!</a>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-2 " id="services">
          <div class="container-fluid">
              <div class="row no-gutter">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 text-center" >
                           <video class="videoMP4" autoplay="autoplay" loop="loop" id="bgvid" muted>
                              <source src="http://localhost/mclaren.mp4" type="video/mp4" /> 
                          </video>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <section class="no-padding-bottom" id="marcas">
      <div class="container-fluid">
        <div class="row no-gutter">
        <div ng-repeat="m in marcas">
            <div class="col-lg-4 col-sm-6 personalizado">
            <a ui-sref="web.car.list" class="marcas-box" ng-click="getMarcaId(m)">
              <img ng-src="{{m.logo}}" class="img-responsive" alt="{{m.nome}}">
              <div class="marcas-box-caption">
                <div class="marcas-box-caption-content">
                  <h4 class="project-name">
                    {{m.nome}}
                  </h4>
                </div>
              </div>
            </a>
          </div>
        </div>
          
          
         <div class="col-lg-4 col-sm-6">
            <a href="#" class="marcas-box">
              <img src="../app/img/marcas/mercedes.jpg" class="img-responsive" alt="Outros">
              <div class="marcas-box-caption">
                <div class="marcas-box-caption-content">
                  <div class="project-name">
                    Outros
                  </div>
                </div>
              </div>
            </a>
          </div> 
        </div>
      </div>
    </section>
    <section class="bg-3" id="contato">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Entre em contato!</h2>
            <hr class="primary">
            <p>Ainda em duvida sobre algum veiculo? Nosso telefone para contato está sempre disponivel para melhor atendermos! Ou se preferir enviar um e-mail, sinta-se a vontade a qualquer momento, retornaremos o mais breve possivel</p>
          </div>
          <div class="col-lg-4 col-lg-offset-2 text-center">
            <i data-toggle="tooltip" title="Telefone" class="fa fa-phone fa-3x wow bounceIn"></i>
            <p data-toggle="tooltip" title="Telefone">123-456-6789</p>
          </div>
          <div class="col-lg-4 text-center">
            <i data-toggle="tooltip" title="E-mail" class="fa fa-envelope-o fa-3x wow bounceIn" 
            data-wow-delay=".1s"></i>
            <p data-toggle="tooltip" title="E-mail"><a href="mailto:matheusb95@gmail.com">
              feedback@cebolutions.com</a></p>
            </div>
            <div class="foot-top">
              <div class="col-md-6 s-c social-ui">
                <ul>
                  <li>
                    <div class="social-ic">
                      <ul>
                        <li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>
                        <li><a href="#"><i class="be"> </i></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>




<!--       <section class="bg-2 " id="services">
          <div class="container-fluid">
              <div class="row no-gutter">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 text-center" >
                           <video class="videoMP4" autoplay="autoplay" loop="loop" id="bgvid" muted>
                              <source src="img/mclaren.mp4" type="video/mp4" /> 
                          </video>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->






<!-- <div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>

  <div class="jumbotron text-center">
    <h1>Cebolutions!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>

</div> -->
 