<style type="text/css">

/*.active.left,
    .active.right {
      left: 0;
      opacity: 0 !important;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1 !important;
    }
  }
.item {
      opacity: 0 !important;
      -moz-transition: 2s ease-in-out opacity;
  -webkit-transition: 2s ease-in-out opacity;
  -o-transition: 2s ease-in-out opacity;
  transition: 2s ease-in-out opacity;
    }
    .active {
      opacity: 1 !important;
    }

.image{
    -moz-transition: .6s ease-in-out opacity;
  -webkit-transition: .6s ease-in-out opacity;
  -o-transition: .6s ease-in-out opacity;
  transition: .6s ease-in-out opacity;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
    }
}*/

#red:hover + .tip {
    display: block !important;
}
#gray:hover + .tip {
    display: block !important;
}
#blue:hover + .tip {
    display: block !important;
}
#black:hover + .tip {
    display: block !important;
}
#white:hover + .tip {
    display: block !important;
}
#yellow:hover + .tip {
    display: block !important;
}
.tip{
    height: 70px;
    width: 120px;
    padding: 5px 0 0 10px;
    position: absolute;

    top: 30px;
    background-color: #EEEEEE;
    z-index: 100
}
.carousel .item {
    opacity: 1 !important;
      -webkit-transition: opacity .0.9s; /*adjust timing here */
         -moz-transition: opacity .0.9s;
           -o-transition: opacity .0.9s;
              transition: opacity .0.9s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 1;
}

  #page-top {
    margin-top: 15px!important;
  }
  .resumo{
    width: 15%;
    height: 50%;
    position: fixed;
    right: -18%;
    transition: 1s;
    margin-top: 10%;
    background-color: #ccc;
    padding: 15px;
  }
  #aba{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: blue;
    left: -40px;
    margin-top: 1%;
  }
  #abaTitle{
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: blue;
    margin-top: 9%;
    text-align: center;
    color: white;
  }
  .resumo:hover {
        right: 0;
  }
  #aba > img {
      width: 20px;
    height: 20px;
    margin-top: 38%;
    margin-left: 10%;
}

</style>
  
<div class="resumo">
    
    <div id="aba">
        <img src="http://localhost/img/close.png">
    </div>
    <div id="abaTitle">
        <p>Compra</p>
    </div>

    <div style="margin-top: 40%">

        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Carro</span>
                <span>"{{marcaNome}}"</span>
            </div>
        </div>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Marca</span>
                <span>"{{marcaNome}}"</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Cor</span>
                <span>"{{marcaNome}}"</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Rodas</span>
                <span>"{{marcaNome}}"</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">Insul-film</span>
                <span>"{{marcaNome}}"</span>
            </div>
        </div>
    </div>
</div>



<div id="page-top">
<div class="container menu">
      <div class="row" >
        <div class="col-lg-12">
          <h1 class="page-header">{{marcaNome}}
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="web.home">Home</a>
            </li>
            <li class="active">{{marcaNome}}</li>
            <li class="active">{{carro.modelo}}</li>
          </ol>
        </div>
    </div>

    <div class="row" style="margin-top: 150px">
        <div class="col-md-8" style="background-image: url(http://localhost/img/bg.png); background-size: cover">

        <div ng-hide="carro.modelo === 'COUPE'">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="i in carro.imagens" active="slide.active">
                    <img ng-src="{{i}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
        </div>

    <div ng-if="carro.modelo === 'COUPE'">

            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'black'">
                <uib-slide ng-repeat="car in car.black"  active="slide.active">
                    <img class="image" ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'red'">
                <uib-slide ng-repeat="car in car.red" ng-show="selectedColor == 'red'" active="slide.active">
                    <img ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'yellow'">
                <uib-slide ng-repeat="car in car.yellow" ng-show="selectedColor == 'yellow'" active="slide.active">
                    <img ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'gray'">
                <uib-slide ng-repeat="car in car.gray" ng-show="selectedColor == 'gray'" active="slide.active">
                    <img ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'blue'">
                <uib-slide ng-repeat="car in car.blue" ng-show="selectedColor == 'blue'" active="slide.active">
                    <img ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'white'">
                <uib-slide ng-repeat="car in car.white" ng-show="selectedColor == 'white'" active="slide.active">
                    <img ng-src="{{car}}" style="margin:auto;">
                </uib-slide>
            </uib-carousel>
        </div>
        </div>
        <div class="col-md-4">
            <h3>{{carro.modelo}}</h3>
            <p>{{carro.descricao}}</p>
            <ul>
                <li>{{carro.cv}} top horsepower</li>
                <li>0-60 mph em {{carro.motor}}s</li>
                <li>top speed de 168 mph</li>
                <li>Price: ${{carro.preco}}</li>
            </ul>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                <ngcart-addtocart id="{{ carro.id }}" name="{{carro.marca.nome}} {{ carro.modelo }}" price="{{ carro.preco }}" quantity="1" quantity-max="1" data="carro">Add to cart</ngcart-addtocart>
            </div>
            <div class="col-md-6 col-lg-6">
                <button type="button" class="btn btn-primary" ui-sref="web.venda.wizard">Prosseguir</button>
            </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">Add to cart</button> -->
            
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px; padding-bottom: 30px; background-color: ">
        <div class="col-md-12">
            <h4>Escolha a  cor</h4>
                <div class="col-md-12">
                <div ng-repeat="cor in cores" class="">

                    <input id="cor" type="radio" name="cor" value="cor" style="height: 40px;position:relative;float: left; margin-left:50px;" ng-click="getCor( cor.id )">
                    
                    <div id="{{cor.nome}}" style="height: 40px; border-radius: 50%; width: 40px;background-color: {{cor.hexadecimal}};border: 1px  solid #ccc;margin: 5px;position:relative;float: left; cursor:pointer" data-toggle="tooltip" title="{{cor.nome}} | valor: ${{cor.valor}}"></div>

                    
                       

                    
                </div>
                    <!-- <div id="red" ng-click="mudarCor('red')" style="height: 40px; border-radius: 50%; width: 40px;background-color: #bc2b3c;border: 1px  solid #ccc;margin: 5px;position:relative;float: left; cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Vermelho</h5>
                            <p><span> R$1.000,00</span></p>
                        </div>
                    </div>

                    <div id="blue" ng-click="mudarCor('blue')"style="height: 40px; border-radius: 50%; width: 40px;background-color: #24316c;border: 1px solid #ccc;margin: 5px;position: relative;float: left;cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Azul</h5>
                            <p><span> R$1.000,00</span></p>
                        </div>
                    </div>

                    <div id="black" ng-click="mudarCor('black')" style="height: 40px; border-radius: 50%; width: 40px;background-color: black;border: 1px solid #ccc;margin: 5px;position: relative;float: left;cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Preto</h5>
                            <p><span> R$0,00</span></p>
                        </div>
                    </div>

                    <div id="yellow" ng-click="mudarCor('yellow')" style="height: 40px; border-radius: 50%; width: 40px;background-color: #c6a624;border: 1px solid #ccc;margin: 5px;position: relative;float: left;cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Amarelo</h5>
                            <p><span> R$1.500,00</span></p>
                        </div>
                    </div>
                    <div id="gray" ng-click="mudarCor('gray')" style="height: 30px;width: 40px;background-color: #767676;border: 1px solid #ccc;margin: 5px;position: relative;float: left;cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Cinza</h5>
                            <p><span> R$1.000,00</span></p>
                        </div>
                    </div>
                    <div id="white" ng-click="mudarCor('white')" style="height: 40px; width: 40px;background-color: white;border: 1px solid #ccc;margin: 5px;position: relative;float: left;cursor:pointer"></div>
                    <div class="tip" style="display: none;">
                        <div>
                            <h5>Branco</h5>
                            <p><span> R$0,00</span></p>
                        </div>
                    </div> -->

                </div>
                    
        </div>
    </div>
    
<!-- 
     <uib-tabset>
        <uib-tab>
            <tab-heading>
                <span>Rodas</span>
            </tab-heading>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/4Go 228 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>4Go 228 R19</h3>
                            <p> R$ 5.000,00</p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/MSW 24 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>MSW 24 R19</h3>
                            <p> R$ 8.000,00 </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/Zormer 2 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>Zormer 2 R19</h3>
                            <p>R$ 6.000,00 </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <tab-heading>
              <span>Insul-film</span>
            </tab-heading>
            
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film20.png" alt="...">
                        <div class="caption">
                            <h3>GS3</h3>
                            <p>R$ 100,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film50.png" alt="...">
                        <div class="caption">
                            <h3>GS4</h3>
                            <p>R$ 200,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film80.png" alt="...">
                        <div class="caption">
                            <h3>GS5</h3>
                            <p>R$ 300,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
        <uib-tab>
            <tab-heading>
              <span>hello</span><em>1</em>
            </tab-heading>
            
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://192.168.1.10:80/img/parts.png" alt="...">
                        <div class="caption">
                            <h3>Roda A</h3>
                            <p>.descricao </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://192.168.1.10:80/img/parts.png" alt="...">
                        <div class="caption">
                            <h3>Roda B</h3>
                            <p>.descricao </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
      
    </uib-tabset>  -->
</div>
</div>
