<div class="container menu" ng-controller="CarController">

  <div>
<div style="    width: 200px;
    height: 200px;">
<p>Escolha a  cor</p>
<div style="height: 20px;
    width: 20px;
    background-color: red;
    border: 1px solid;margin: 5px;position: relative;
    float: left;"></div> <p>R$ 1000,00</p>
    <div style="height: 20px;
    width: 20px;
    background-color: blue;
    border: 1px solid;margin: 5px;position: relative;
    float: left;"></div><p>R$ 1000,00</p>
    <div style="height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid;margin: 5px;position: relative;
    float: left;"></div><p>R$ 1000,00</p>
    <div style="height: 20px;
    width: 20px;
    background-color: yellow;
    border: 1px solid;margin: 5px;position: relative;
    float: left;"></div><p>R$ 1000,00</p>

    <button ng-click="mudar(0)">Vermelho</button>
    <button ng-click="mudar(1)">Azul</button>
    <button ng-click="mudar(2)">Preto</button>
    <button ng-click="mudar(3)">Amarelo</button>
  </div>

  <button ng-click="mudar(4)">Proximo</button>
  <div id="default" style="position: absolute;">
    <img id="car" src="../../../img/mustang/default.png">
  </div>

  


  

  
</div>

</div>