<style type="text/css">



.active.left,
    .active.right {
      left: 0;
      opacity: 0 !important;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1 !important;
    }
  
.item {
      opacity: 0 !important;
      -moz-transition: 2s ease-in-out opacity;
  -webkit-transition: 2s ease-in-out opacity;
  -o-transition: 2s ease-in-out opacity;
  transition: 2s ease-in-out opacity;
    }
    .active {
      opacity: 1 !important;
    }


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
    }
}

.carousel .item {
    opacity: 1;
      -webkit-transition: opacity .6s; /*adjust timing here */
         -moz-transition: opacity .6s;
           -o-transition: opacity .6s;
              transition: opacity .6s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
    z-index: 2;
}
/* Fade controls with items */









  #page-top {
    margin-top: 15px!important;
  }
  .resumo{
    width: 15%;
    height: 50%;
    position: fixed;
    right: -18%;
    transition: 1s;
    margin-top: 10%;
    background-color: #ccc;
    padding: 15px;
  }

#vermelho:hover + .tip {
    display: block !important;
}
#cinza:hover + .tip {
    display: block !important;
}
#azul:hover + .tip {
    display: block !important;
}
#preto:hover + .tip {
    display: block !important;
}
#branco:hover + .tip {
    display: block !important;
}
#amarelo:hover + .tip {
    display: block !important;
}
.tip{
    height: 70px;
    width: 120px;
    padding: 5px 0 0 10px;
    position: absolute;

    top: 30px;
    background-color: #EEEEEE;
    z-index: 100
}

  #aba{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: azul;
    left: -40px;
    margin-top: 1%;
  }
  #abaTitle{
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: azul;
    margin-top: 9%;
    text-align: center;
    color: branco;
  }
  .resumo:hover {
        right: 0;
  }
  #aba > img {
      width: 20px;
    height: 20px;
    margin-top: 38%;
    margin-left: 10%;
}

.color{
    text-align: center;
    padding: 5px;
    height: 40px; 
    border-radius: 50%; 
    width: 40px;
    border: 1px solid #ccc;
    margin: 5px;
    position:relative;
    float: left; 
    cursor: pointer;
    background-color: {{cor.hexadecimal}};

}

#Branco span{
   font-size: 25px;
   color: #000000;
   opacity: 0;
   transform: 1s;
}

input:checked + #Branco span {
   opacity: 1
}

input:checked {
   opacity: 0
}

#Amarelo span{
   font-size: 25px;
   color: #000000;
   opacity: 0;
   transform: 1s;
}

input:checked + #Amarelo span {
   opacity: 1
}

.color span{
   font-size: 25px;
   color: #dddddd;
   opacity: 0;
   transform: 1s;
}
input:checked + .color span {
   opacity: 1
}

</style>



<div id="page-top">
<div class="container menu">
      <div class="row" >
        <div class="col-lg-12">
          <h1 class="page-header">{{marcaNome}}
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="web.home">Home</a>
            </li>
            <li class="active">{{marcaNome}}</li>
            <li class="active">{{carro.modelo}}</li>
          </ol>
        </div>
    </div>

    <div class="row" style="margin-top: 150px">


        <div ng-if="carro.modelo !== 'COUPE'">
            <div class="col-md-8">
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                    <uib-slide ng-repeat="i in carro.imagens" active="slide.active">
                        <img ng-src="{{i}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>




        <div ng-if="carro.modelo === 'COUPE'">
            <div class="col-md-8" style="background-image: url(http://localhost/img/bg.png); background-size: cover">
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'preto'">
                    <uib-slide ng-repeat="car in car.preto"  active="slide.active">
                        <img class="image" ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'vermelho'">
                    <uib-slide ng-repeat="car in car.vermelho" ng-show="selectedColor == 'vermelho'" active="slide.active">
                        <img ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'amarelo'">
                    <uib-slide ng-repeat="car in car.amarelo" ng-show="selectedColor == 'amarelo'" active="slide.active">
                        <img ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'cinza'">
                    <uib-slide ng-repeat="car in car.cinza" ng-show="selectedColor == 'cinza'" active="slide.active">
                        <img ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'azul'">
                    <uib-slide ng-repeat="car in car.azul" ng-show="selectedColor == 'azul'" active="slide.active">
                        <img ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="selectedColor == 'branco'">
                    <uib-slide ng-repeat="car in car.branco" ng-show="selectedColor == 'branco'" active="slide.active">
                        <img ng-src="{{car}}" style="margin:auto;">
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <div class="col-md-4">
            <h3>{{carro.modelo}}</h3>
            <p>{{carro.descricao}}</p>
            <ul>
                <li>{{carro.cv}} top horsepower</li>
                <li>0-60 mph em {{carro.motor}}s</li>
                <li>top speed de 168 mph</li>
                <li>Price: ${{carro.preco}}</li>
            </ul>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <ngcart-addtocart id="{{ carro.id }}" name="{{carro.marca.nome}} {{ carro.modelo }}" price="{{ carro.preco }}" quantity="1" quantity-max="1" data="carro">Add to cart</ngcart-addtocart>
                </div>
                <div class="col-md-6 col-lg-6">
                    <button type="button" class="btn btn-primary" ng-click="verifyLogin()">Prosseguir</button>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary">Add to cart</button> -->
            
        </div>
    </div>

    <div class="row" style="margin-bottom: 30px; padding-bottom: 30px; background-color: ">
        <div class="col-md-12">
            <h4>Escolha a  cor</h4>
                <div class="col-md-12">

                <div ng-repeat="cor in cores" class="">

                    <div ng-if="carro.modelo === 'COUPE'">
                        <div ng-hide="cor.nome == 'Verde'">
                            <input id="cor" type="radio" name="cor" value="cor" style="height: 40px;position:relative;float: left; margin-left:50px;" ng-click="getCor( cor.id ); mudarCor( cor.nome )">

                            <div id="{{cor.nome}}" class="color" style="background-color: {{cor.hexadecimal}}" data-toggle="tooltip" title="{{cor.nome}} | valor: ${{cor.valor}}">
                        
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div ng-if="carro.modelo !== 'COUPE'">
                            <input id="cor" type="radio" name="cor" value="cor" style="height: 40px;position:relative;float: left; margin-left:50px;" ng-click="getCor( cor.id ); mudarCor( cor.nome )">

                            <div id="{{cor.nome}}" class="color" style="background-color: {{cor.hexadecimal}}" data-toggle="tooltip" title="{{cor.nome}} | valor: ${{cor.valor}}">
                        
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </div>
                        
                    </div>
                    

                </div>

                </div>
                    
        </div>
    </div>
    

     <uib-tabset>
        <uib-tab>
            <tab-heading>
                <span>Rodas</span>
            </tab-heading>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/4Go 228 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>4Go 228 R19</h3>
                            <p> R$ 5.000,00</p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/MSW 24 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>MSW 24 R19</h3>
                            <p> R$ 8.000,00 </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/rodas/Zormer 2 R19_big.png" alt="...">
                        <div class="caption">
                            <h3>Zormer 2 R19</h3>
                            <p>R$ 6.000,00 </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <tab-heading>
              <span>Insul-film</span>
            </tab-heading>
            
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film20.png" alt="...">
                        <div class="caption">
                            <h3>GS3</h3>
                            <p>R$ 100,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film50.png" alt="...">
                        <div class="caption">
                            <h3>GS4</h3>
                            <p>R$ 200,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost/img/mustang/film/film80.png" alt="...">
                        <div class="caption">
                            <h3>GS5</h3>
                            <p>R$ 300,00  </p>
                            <p><a href="#" class="btn btn-primary" role="button">Adicionar ao carro</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>
</div>
</div>
