  <style type="text/css">
  #page-top {
    margin-top: 15px!important;
  }
  </style>
<div cg-busy="{promise:findByMarca, backdrop:false,minDuration:1500, templateUrl:'request-loader/request-loader.html'}">
<!-- <div ng-if="">
  <div class=\"request-loader\">
    <span us-spinner="{lines:9, radius:6, width:3, length: 6, trail: 40}">
      
    </span>
  </div>
</div> -->
<!-- <div class="loading-dialog" ng-show="loading"></div>
 -->  <div id="page-top">
    <div class="container">

      <div class="row" >
        <div class="col-lg-12">
          <h1 class="page-header">{{marcaNome}}
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a ui-sref="web.home">Home</a>
            </li>
            <li class="active">{{marcaNome}}</li>
          </ol>
        </div>
         <div class="col-sm-3 col-md-3 col-lg-3">
            <input type="text" class="form-control" id="searchList" placeholder="Pesquisar" ng-model="search"/>
        </div>
          <div class="col-md-offset-5 col-sm-4 col-md-4 col-lg-4 col-md-offset-5 col-sm-offset-5">
            <select class="form-control" ng-model="selectedMarca" ng-options="marca as marca.nome for marca in marcas | orderBy:'nome' track by marca.id" id="searchList" name="Marcas"></select>
         </div>
      </div>
    </div>

    <div ng-repeat="c in cars |orderBy:sortKey:reverse|filter:search">
      
            <div class="col-md-6 img-marcas">
                <a ng-click="viewCar(c, marcaNome)" style="cursor:pointer;">
                    <img ng-src="{{c.imagens[0]}}" height="100%!important" width="100%!important"/>
                </a>
                <h3>
                    <a ui-sref="web.car.details">{{c.modelo}}</a>
                </h3>
                <p></p>
            </div>
        
    </div>
    
  </div>
</div>