    <style type="text/css">

      *, *:before, *:after {
        box-sizing: border-box;
      }

      html {
        overflow-y: scroll;
      }

      body {
        background: #c1bdba;
        font-family: 'Titillium Web', sans-serif;
      }

      .modal-dialog {
        width: 900px!important;
      }

      a {
        text-decoration: none;
        color: #238E23;
        transition: .5s ease;
      }

      a:hover {
        color: #215e21 ;
      }

      .form {
        background: rgba(19, 35, 47, 0.9);
        padding: 40px;
        max-width: 900px;
        margin: 40px auto;
        border-radius: 4px;
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
      }


  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }

  label {
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
  }

  label .req {
    margin: 2px;
    color: #238E23;
  }

  label.active {
    transform: translateY(-20px);
    left: 2px;
    font-size: 14px;
  }

  label.active .req {
    opacity: 0;
  }

  label.highlight {
    color: #ffffff;
  }

  input, textarea {
    font-size: 22px;
    display: block;

    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
  }

  h3 {
    color: white;
  }

  input:focus, textarea:focus {
    outline: 0;
    border-color: #238E23;
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }

  .row > div:last-child {
    margin: 0;
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #238E23;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }

  .button:hover, .button:focus {
    background: #215e21 ;
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }

}
</style>

<button type="button" class="close" ng-click="closeModal()" style="font-size: 25px; padding: 8px 10px!important;">×</button>
<div class="form">

  <div class="tab-content">
    <div id="signup">   
      <h1>Editar cadastro</h1>

      <form>

        <div class="row">
          <div class="col-md-6 col-lg-6">
            <h3>
            Nome<span class="req">*</span>
            </h3>
            <div class="field-wrap">
              <input type="text" required autocomplete="off" ng-model="us.nome"/>
            </div>  
          </div>
          <div class="col-md-6 col-lg-6">
            <h3>
              Sobrenome<span class="req">*</span>
             </h3>
            <div class="field-wrap">

              <input type="text"required autocomplete="off" ng-model="us.sobrenome"/>
            </div>
          </div>
          </div>


          <div class="row">
          <div class="col-md-6 col-lg-6">
            <h3>
              Username<span class="req">*</span>
            </h3>
            <div class="field-wrap">

              <input type="text"required autocomplete="off" ng-model="us.username"/>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
              <h3>
                CPF<span class="req">*</span>
              </h3>
            <div class="field-wrap">
              <input type="text"required autocomplete="off" maxlength="11" ng-model="us.cpf"/>
            </div>
          </div>
          </div>

          <div class="row">
          <div class="col-md-6 col-lg-6">
            <h3 >
              Data de Nascimento
            </h3>
            <div class="field-wrap">
              <p class="input-group" style="width:78%;">
              <input type="text" uib-datepicker-popup ng-model="us.dataNascimento" is-open="status.opened" max-date="maxDate" date-disabled="disabled(date, mode)" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <h3>
              CNH
            </h3>
            <div class="field-wrap">

              <input type="text"required autocomplete="off" maxlength="10" ng-model="us.cnh"/>
            </div>
          </div>
          </div>

        <div class="row">
        
        <div class="col-md-6 col-lg-6">
              <h3>
              Endereço
            </h3>
          <div class="field-wrap">
            <div class="row ">
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <div class="row">
                    <label for="">CEP</label>
                  </div>
                  
                  <div class="row">
                    <input class="" ng-model="endereco.cep" type="text">
                    <button type="button" ng-click="verificarCep(endereco.cep)">Verificar</button>
                  </div>
                </div>
                </div>
                <div class="row ">
                <div class="col-sm-10 col-md-10 col-lg-10 ">
                  <div class="row ">
                    <label for="" >Logradouro</label>
                  </div>
                  
                  <div class="row">
                    <input class="logradouro-input" ng-model="endereco.logradouro" type="text">
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="row">
                    <label for="">Cidade</label>
                  </div>
                  
                  <div class="row">
                    <input class="" ng-model="endereco.cidade" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="row">
                    <label for="">Estado</label>
                  </div>
                  
                  <div class="row">
                    <input class="" ng-model="endereco.estado" type="text">
                  </div>
                </div>
              </div>
              
              <div class="row ">
                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="row">
                    <label for="">Bairro</label>
                  </div>
                  
                  <div class="row">
                    <input class="" ng-model="endereco.bairro" type="text">
                  </div>
                </div>
                <button type="button" class="btn btn-primary pull-rigth" ng-click="createEndereco()">Cadastrar endereço</button>
              </div>
        
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          
        <h3>
          Email<span class="req">*</span>
        </h3>
        <div class="field-wrap">
          <input type="email" required autocomplete="off" ng-model="us.email"/>
        </div>
                  
        <h3>
          Senha<span class="req">*</span>
        </h3>
        <div class="field-wrap">
          <input type="password"required autocomplete="off" ng-model="us.password"/>
        </div>

        <div ng-repeat="e in enderecosByUser">
                <div class="col-sm-12 col-md-12 col-lg-12 enderecos">
                <input type="radio" name="endereco_selecionado" ng-model="enderecosByUser" ng-click="getEndereco(e.id)" value="e" ng-click="getEndereco( e.id )"> 
                  <span style="color:white;">{{e.logradouro}}, {{e.bairro}}, {{e.cidade}}, {{e.estado}}, {{e.cep}}</span>
                </div>
                
        </div>
        <button type="button" class="btn btn-primary" ng-click="excluirEndereco()">Excluir endereço selecionado</button>
          </div>
        </div>

        <button type="submit" class="button button-block" ng-click="editarCadastro()">Concluir</button>

      </form>

    </div>



  </div><!-- tab-content -->

</div> <!-- /form -->





<script type="text/javascript">
  $('.form').find('input, textarea').on('keyup blur focus', function (e) {

    var $this = $(this),
    label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
        label.removeClass('active highlight');
      } else {
        label.addClass('active highlight');
      }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {

      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

  });

</script>